@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("../fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav {
    ul {
        margin: 0;
    }

    li {
        display: inline;
    }

    a {
        // NOTE inline elements can not have top and bottom padding. set to display: inline-block
        display: inline-block;
        padding: 0.5em;
        color: white;
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(255, 255, 255, .3);
    }
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

    li {
        padding: 0 5%;
    }
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../Images/Header_Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-heading {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56ccf2;
    color: white;
    padding: 0.25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;

    ul {
        flex-grow: 1;
        text-align: end;
    }
}

.footer-nav {
    li {
        padding: 0 0.5em;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}

.btn-header {
    margin: 0.5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;

    &:hover {
        background-color: rgba(255,255,255,0.3);
    }
}

.btn-play {
    // NOTE only block elements can have a margin auto
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &:last-child {
        border-bottom: none;
    }
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: white;
    background-color: #56ccf2;
    border: none;
    border-radius: .3em;
    font-weight: bold;

    &:hover {
        background-color: #2d9cdb;
    }
}